<div class="container">
    <header>JOURNAL ENTRY</header>
            <div class="sub_header">
                <div class="journdate">
                    <label>Date</label>
                    <input type="date" id="journaldate" required>
                </div>
          
                <div class="journnumber">
                    <label>Journal Number</label>
                    <input type="number" id="journalnumber" required>
                </div>
               
            </div>

                <div class="journals">
                        <table class="tablejournal">
                             <tr>
                                    <th ></th>
                                    <th class="journallabel">No.</th>
                                    <th class="journallabel">Account</th>
                                    <th class="journallabel">Debits</th>
                                    <th class="journallabel">Credits</th>
                                    <th class="journallabel">Description</th>
                                    <th class="journallabel">Name</th>
                            </tr>
                                <tr *ngFor="let item of row; let x = index">
                                    <td><button class="Add" (click)="addTable()">
                                        <span class="btnText">Add row</span>
                                        </button></td>
                                        <th class="journallabel">#</th>
                                        <td class="beneinput"><select type="text">
                                            <option disabled selected>Select</option>
                                            <option>Account 1</option>
                                            <option>Account 2</option>
                                            <option>Account 3</option>
                                        </select></td>
                                        <td class="beneinput"><input type="number"></td>
                                        <td class="beneinput"><input type="number"></td>
                                        <td class="beneinput"><input type="text"></td>

                                        <td class="beneinput"><select type="text">
                                            <option disabled selected>Select</option>
                                            <option>Name 1</option>
                                            <option>Name 2</option>
                                            <option>Name 3</option>
                                        </select></td>

                                        <td class="delbut"> <button (click) = "deleteRow(x)">
                                        <span class="btnText">Delete</span>
                                        </button></td>
                                 </tr>

                                    
                        </table> 
                    </div>  
            <div>


            </div>

            <div>
                
            </div>
</div>
