<div class="container">
    <header>JOURNAL ENTRY</header>
            <div class="sub_header">
                <div>
                    <label for="journaldate">Date</label>
                    <input type="date" id="journaldate" required>
                </div>
          
                <div>
                    <label for="journalnumber">Journal Number</label>
                    <input type="number" id="journalnumber" required>
                </div>
               
            </div>

            <div>
                
            </div>
</div>
